<div class="col s6 center-align card-panel red">
  <a href="<%= blocks_gamer_path(@gamer) %>">
    <strong id="blocks">
      <span name="block" class="blue-grey-text text-darken-4"><%= @gamer.blocking.count %> blocked users</span>
    </strong>
  </a>
</div>
