<% unless current_user == @gamer %>
  <div id="friend_form">
  <% if current_user.friends?(@gamer) %>
    <%= render 'unfriend' %>
  <% elsif !current_user.requests?(@gamer) %>
    <%= render 'request' %>
  <% else %>
    Your request is pending
  <% end %>
  </div>
<% end %>
