<div class="row center-align">
  <em>
    <h4>
      <% if @gamer.friends.blank? %>
      No friends to show
    </h4>
  </em>
</div>
      <% else %>
      Friends
    </h4>
  </em>
</div>
  <% for friends in @gamer.friends.last(10) %>
    <% if @gamer.id == friends.friender %>
      <% friend = friends.friended %>
    <% else %>
      <% friend = friends.friender %>
    <% end %>

    <div class="chip">
      <% if friend.photo.blank? %>
        <%= image_tag "no_photo.jpg" %>
      <% else %>
        <img src="<%= friend.photo %>" alt="Profile photo">
      <% end %>
      <a href= "<%= gamer_path(friend) %>">
        <%= friend.name.blank? ? friend.email : friend.name.split.map(&:capitalize).join(" ") %>
      </a>
    </div>
  <% end %>
<% end %>
