<footer class="page-footer">
  <div class="container">
    <div class="row center">
      <div class="col l4 s12">
        <h5 class="white-text">About</h5>
        <p class="grey-text text-lighten-4">A site for sell, buy and trade your games and consoles.</p>
      </div>
      <div class="col l3 offset-l1 s12">
        <h5 class="white-text">Creators</h5>
        <ul>
          <li><i class="material-icons">adb</i><a class="grey-text text-lighten-3" href="#!">  Ion</a></li>
          <li><i class="material-icons">android</i><a class="grey-text text-lighten-3" href="#!">  Isgj</a></li>
          <li><i class="material-icons">bug_report</i><a class="grey-text text-lighten-3" href="#!">  Sby</a></li>
        </ul>
      </div>
      <div class="col l4 s12">
        <h5 class="white-text">Share us</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A3000%2F&amp;src=sdkpreparse">Facebook</a></li>
          <li><a class="grey-text text-lighten-3" href="https://plus.google.com/share?url=http://localhost:3000/" onclick="javascript:window.open(this.href,
            '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">Google +</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017 Copyright Text
    </div>
  </div>
</footer>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/it_IT/sdk.js#xfbml=1&version=v2.11';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
